.nav-menu__button {
    border-color: white;
}

.nav-menu__button:hover {
    background: inherit;
    color: white;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(234 241 241);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ffc107;
}

.brand {
    color: white;
}

.brand:hover {
    color: #ffc107;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}